body{
    background-color: bisque;
text-align: left;
    padding-left: 30px;
    padding-right: 30px;
}


.one{
border: crimson 2px solid;
    padding: 4px;
    border-radius: 20px;
}

.two {
    border: crimson 2px solid;
    padding: 4px;
    border-radius: 20px;
}

.three {
    border: crimson 2px dashed;
    padding: 4px;
    border-radius: 20px;
}

.four{
    border: crimson 2px dashed;
    padding: 4px;
    border-radius: 20px;
}
